.hero-unit
  %h1 This is WheelerBoard.
  %p The wheeler board is where we track who broke Tapjoy.
  %p Wave to Wheeler, then #{ link_to "log in", employee_omniauth_authorize_path(:tapjoy) } to continue
